## Numbers

In [1]:
4+3

7

In [2]:
5-3

2

In [3]:
7 / 4

1.75

In [4]:
7 // 4

1

In [5]:
7 % 4

3

In [6]:
50 % 5

0

In [7]:
23 % 2 # odd or even

1

In [8]:
24 % 2

0

In [9]:
2 ** 3

8

In [10]:
2 + 10 * 10 + 3

105

In [11]:
(2+10) * (10 + 3)

156

In [12]:
50 + 50

100

In [13]:
100 - 10

90

In [14]:
110 - 10

100

In [15]:
0.1+0.2-0.3

5.551115123125783e-17

## Variables

In [16]:
a = 10

In [17]:
a

10

In [18]:
a + a

20

In [19]:
a

10

In [20]:
a = a + a

In [21]:
a

20

In [22]:
type(a)

int

In [23]:
a = 10.1

In [24]:
type(a)

float

In [25]:
my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [26]:
my_taxes

10.0

## Strings

In [27]:
'hello'

'hello'

In [28]:
"hello"

'hello'

In [29]:
'this is also a string'

'this is also a string'

In [30]:
"I'm going on a run"

"I'm going on a run"

In [31]:
print('hello')

hello

In [32]:
print('hello world')
print('hello world 1')

hello world
hello world 1

In [33]:
print('hello \n world')

hello
 world

In [34]:
print('hello \t world')

hello 	 world

In [35]:
len('hello')

5

In [36]:
len('i am')

4

## String Indexing and Slicing

In [37]:
mystring = "Hello World"
mystring

'Hello World'

In [38]:
mystring[0]

'H'

In [39]:
mystring[8]

'r'

In [40]:
mystring[9]

'l'

In [41]:
mystring[-3]

'r'

In [42]:
#mystring[start:stop:step] stop - upto but not included

In [43]:
mystring = 'abcdefghijk'

In [44]:
mystring

'abcdefghijk'

In [45]:
mystring[2:]

'cdefghijk'

In [46]:
mystring[:3]

'abc'

In [47]:
mystring[3:6]

'def'

In [48]:
mystring[1:3]

'bc'

In [49]:
mystring[::]

'abcdefghijk'

In [50]:
mystring[::2]

'acegik'

In [51]:
mystring[::3]

'adgj'

In [52]:
mystring[2:7:2]

'ceg'

In [53]:
mystring[2:4:2]

'c'

In [54]:
mystring[::-1] # reverse the string

'kjihgfedcba'

---

## String Properties and Methods

---

### Immutability

In [55]:
name = 'Sam'

In [56]:
name[1:]

'am'

In [57]:
last_letter = name[1:]

In [58]:
last_letter

'am'

In [59]:
'P' + last_letter

'Pam'

In [60]:
x = 'Hello World'

In [61]:
x + " its beautiful outside"

'Hello World its beautiful outside'

In [62]:
letter = 'z'

letter * 10

'zzzzzzzzzz'

**Number with string will not work**

### Useful methods

In [63]:
x = 'Hello world'

In [64]:
x.upper()

'HELLO WORLD'

In [65]:
x.lower()

'hello world'

In [66]:
x # original

'Hello world'

In [67]:
x.split()

['Hello', 'world']

In [68]:
x = 'Hi this is a string'

In [69]:
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [70]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

## String Formatting for Printing

In [71]:
print('this is a string{}'.format(' INSERTED'))

this is a string INSERTED

In [72]:
print('The {} {} {}'.format('fox','brown','quick'))

The fox brown quick

In [73]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [74]:
print('The {0} {0} {0}'.format('fox','brown','quick'))

The fox fox fox

In [75]:
print('The {q}{f}{b}'.format(f=' fox',b=' brown',q=' quick'))

The  quick fox brown

In [76]:
result = 100/777

In [77]:
result

0.1287001287001287

In [78]:
print("The result was {}".format(result))

The result was 0.1287001287001287

In [79]:
print("The result was {r}".format(r = result))

The result was 0.1287001287001287

**Float formatting follows "{value:width.precision *f* }"**

In [80]:
print("The result was {r:1.3f}".format(r = result))

The result was 0.129

In [81]:
result = 10.456

In [82]:
print("The result was {r:1.2f}".format(r = result))

The result was 10.46

In [83]:
print("The result was {r:10.2f}".format(r = result))

The result was      10.46

In [84]:
name = 'Mukund'

In [85]:
print("Hello, My name is {}".format(name))

Hello, My name is Mukund

**f Literals**

In [86]:
print(f"Hello, My name is {name}")

Hello, My name is Mukund

In [87]:
name = 'Mukund'
age = 6

print(f"{name} is {age} years old")

Mukund is 6 years old

---

## Lists

---

In [88]:
my_list = [1,2,3]

In [89]:
my_list = ['STRING',100,23.2]

In [90]:
len(my_list)

3

In [91]:
my_list[0]

'STRING'

In [92]:
my_list[1:]

[100, 23.2]

In [93]:
my_list[:]

['STRING', 100, 23.2]

In [94]:
another_list = ['four','five']

In [95]:
my_list + another_list

['STRING', 100, 23.2, 'four', 'five']

In [96]:
new_list = my_list + another_list

In [97]:
new_list

['STRING', 100, 23.2, 'four', 'five']

In [98]:
new_list[0] = 'ONE ALL CAPS'

In [99]:
new_list

['ONE ALL CAPS', 100, 23.2, 'four', 'five']

In [100]:
new_list.append('Six')

In [101]:
new_list

['ONE ALL CAPS', 100, 23.2, 'four', 'five', 'Six']

In [102]:
new_list.append('Seven')

In [103]:
new_list

['ONE ALL CAPS', 100, 23.2, 'four', 'five', 'Six', 'Seven']

In [104]:
new_list.pop() # remove

'Seven'

In [105]:
new_list

['ONE ALL CAPS', 100, 23.2, 'four', 'five', 'Six']

In [106]:
popped_item = new_list.pop()

In [107]:
popped_item

'Six'

In [108]:
new_list

['ONE ALL CAPS', 100, 23.2, 'four', 'five']

In [109]:
popped_item = new_list.pop(1)

In [110]:
new_list

['ONE ALL CAPS', 23.2, 'four', 'five']

In [111]:
new_list = ['a','e','x','b','c']
num_list = [4,1,8,3]

In [112]:
new_list.sort()

In [113]:
new_list

['a', 'b', 'c', 'e', 'x']

In [114]:
num_list

[4, 1, 8, 3]

In [115]:
num_list.sort()
my_sorted_list = num_list
my_sorted_list

[1, 3, 4, 8]

In [116]:
num_list.reverse()

In [117]:
num_list

[8, 4, 3, 1]

## Dictionaries

---
**Dictionaries:** - Objects retrieved by key name, Uordered and can not be sorted. 

---
**Lists:** Objects retrieved by location. Ordered Sequence can be indexed or sliced. 

---

In [118]:
my_dict = {'key1':'value1', 'key2':'value2'}

In [119]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [120]:
my_dict['key1']

'value1'

In [121]:
d = {'k1':123,'k2':[0,1,'hi'],'k3':{'insidekey':100}}

In [122]:
d

{'k1': 123, 'k2': [0, 1, 'hi'], 'k3': {'insidekey': 100}}

In [123]:
d['k2']

[0, 1, 'hi']

In [124]:
d['k2'][2]

'hi'

In [125]:
d['k3']['insidekey']

100

In [126]:
d['k1']

123

In [127]:
d = {'key1':['a','b','c']}

In [128]:
d

{'key1': ['a', 'b', 'c']}

In [129]:
d['key1'][2].upper()

'C'

In [130]:
d['key1'][2].lower()

'c'

In [131]:
d = {'k1':40,'k2':50}

In [132]:
d

{'k1': 40, 'k2': 50}

In [133]:
d['k3'] = 60

In [134]:
d

{'k1': 40, 'k2': 50, 'k3': 60}

In [135]:
d['k3'] = 70

In [136]:
d

{'k1': 40, 'k2': 50, 'k3': 70}

In [137]:
d = {'k1': 40, 'k2': 50, 'k3': 60}

In [138]:
d

{'k1': 40, 'k2': 50, 'k3': 60}

In [139]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [140]:
d.values()

dict_values([40, 50, 60])

In [141]:
d.items() #Below items are nothing but Tuple.

dict_items([('k1', 40), ('k2', 50), ('k3', 60)])

---

## Tuples


---

Tuples are very simila to lists. However they have one key difference **immutability**.

In [142]:
t = (1,2,3)

In [143]:
mylist = [1,2,3]

In [144]:
type(t)

tuple

In [145]:
type(mylist)

list

In [146]:
type(my_dict)

dict

In [147]:
len(t)

3

In [148]:
t = ('one',2)

In [149]:
t

('one', 2)

In [150]:
t[0]

'one'

In [151]:
t[-1]

2

In [152]:
t = ('a','a','b')

In [153]:
t.count('a')

2

In [154]:
t.index('a') # It appeared at 1st poisition

0

In [155]:
t.index('b')

2

**Immutability** - Makes Tuple different from list, lets see below example.

In [156]:
my_list = [1,2,3]

In [157]:
my_list

[1, 2, 3]

In [158]:
my_list[0] = 'NEW'

In [159]:
my_list

['NEW', 2, 3]

In [160]:
my_tuple = (1,2,3)

In [161]:
my_tuple

(1, 2, 3)

In [162]:
my_tuple[0] = 2

TypeError: 'tuple' object does not support item assignment

---

## Sets


---

Sets are unordered collections of **unique** elements.

In [163]:
myset = set()

In [164]:
myset

set()

In [165]:
myset.add(1)

In [166]:
myset

{1}

In [167]:
myset.add(2)

In [168]:
myset

{1, 2}

In [169]:
myset.add(2) # Lets try to add same number one more time .

In [170]:
myset #unique value

{1, 2}

In [171]:
mylist = [1,1,1,1,1,2,2,2,2,3,3,3,3,3,3,4,4,4,4,4,4]

In [172]:
set(mylist)

{1, 2, 3, 4}

---

## Booleans

---

These are important later on when we deal with control flow and logic!

In [173]:
True

True

In [174]:
1 > 2

False

In [175]:
2 > 4

False

In [176]:
2 == 2

True

In [177]:
b = None # placeholder

---

## Comparison Operators

---

In [178]:
2 == 2

True

In [179]:
2 == 1

False

In [180]:
'hello' == 'bye'

False

In [181]:
'hello' == 'hello'

True

In [182]:
'hello' == 'Hello'

False

In [183]:
2.0 == 2

True

In [184]:
3 !=3

False

In [185]:
4 != 5

True

In [186]:
2 > 1

True

In [187]:
1 < 2

True

In [188]:
2 < 5

True

In [189]:
2 >=2

True

In [190]:
2 <=2

True

In [191]:
2 < 1

False

In [192]:
4 <=1

False

**Multiple Comparision**

We can use logical operators to combine comparisons:

- and
- or 
- not

In [193]:
1 < 2 and 3 < 4

True

In [194]:
1 < 2 and 3 > 4

False

In [195]:
1 < 2 or 3 < 4

True

In [196]:
('h' == 'h') and (2 == 2)

True

In [197]:
not(1==1)

False

In [198]:
not 400 > 5000

True

## Python Statement

---

### If, elif, else Statements

---

In [199]:
if True:
    print('Its True')

Its True

In [200]:
if 3 > 2:
    print('Its true')

Its true

In [201]:
hungry = True

if hungry:
    print("Feed Me!")

Feed Me!

In [202]:
hungry = False

if hungry:
    print("Feed Me!")

In [203]:
hungry = False

if hungry:
    print("Feed Me!")
else:
    print("I am not hungry")

I am not hungry

In [204]:
hungry = True

if hungry:
    print("Feed Me!")
else:
    print("I am not hungry")

Feed Me!

In [205]:
if hungry == True:
    print("Feed Me!")
else:
    print("I am not hungry")

Feed Me!

In [206]:
loc = 'Bank'

if loc == 'Auto Shop':
    print('Cars are cool')
    
else:
    print('I do not know much ')

I do not know much

In [207]:
loc = 'Bank'

if loc == 'Auto Shop':
    print('Cars are cool')
    
elif loc == 'Bank':
    print('Money is cool')
    
elif loc == 'Store':
    print('Welcome to the store')
    
else:
    print('I do not know much ')

Money is cool

In [208]:
loc = 'Auto Shop'

if loc == 'Auto Shop':
    print('Cars are cool')
    
elif loc == 'Bank':
    print('Money is cool')
    
elif loc == 'Store':
    print('Welcome to the store')
    
else:
    print('I do not know much ')

Cars are cool

In [209]:
name = 'Sammy'

if name == 'Frankie':
    print('Hello Frankie')
elif name == 'Sammy':
    print('Hello {}' .format(name))
else:
    print('What is your name: ')

Hello Sammy

---

### For Loops

---

We can use **For** loops to execute a block of code for every iteration.

In [210]:
my_iterable = [1,2,3]
for item_name in my_iterable:
    print(item_name)

1
2
3

In [211]:
mylist = [1,2,3,4,5,6,7,8,9,10]

for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [212]:
mychar = ['a','b','b','d','e']

for char in mychar:
    if char == 'b':
        print('i found you')

i found you
i found you

In [213]:
mynum = [1,2,3,4,5,6,7,8,9,10]

for ans in mynum:
    if ans % 2 == 0:
        print('Even number: {} ' .format(ans))
        print()
    else:
        print('Odd number: {}' .format(ans))
        print()

Odd number: 1

Even number: 2

Odd number: 3

Even number: 4

Odd number: 5

Even number: 6

Odd number: 7

Even number: 8

Odd number: 9

Even number: 10

In [214]:
mylist = [1,2,3,4,5,6,7,8,9,10]

for num in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [215]:
for num in mylist:
    #Check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [216]:
list_sum = 0

for num in mylist:
    list_sum = num + list_sum
    
print(list_sum)

55

In [217]:
list_sum = 0

for num in mylist:
    list_sum = num + list_sum
    
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [218]:
my_string = 'Hello World'

for letter in my_string:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [219]:
for letter in 'Hello_World':
    print(letter)

H
e
l
l
o
_
W
o
r
l
d

In [220]:
for _ in 'Hello_World':
    print('Cool')

Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool

In [221]:
tup = 1,2,3

for item in tup:
    print(item)

1
2
3

In [222]:
mylist = [(1,2),(3,4),(5,6)]

for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)

**Tuple Unpacking**

In [223]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6

In [224]:
for a,b in mylist:
    print(a)
    print(b)

1
2
3
4
5
6

In [225]:
type(len(mylist))

int

In [226]:
len(mylist)

3

In [227]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

for a,b,c in mylist:
    print(a)
    print(b)
    print(c)

1
2
3
5
6
7
8
9
10

**Iterate through Dictionary**

In [228]:
d = {'k1':1,'k2':2,'k3':3}

for item in d:
    print(item)

k1
k2
k3

**This is something interesting, i.e. by default Dictionary iterate through key only**

In [229]:
d = {'k1':1,'k2':2,'k3':3}

for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [230]:
d = {'k1':1,'k2':2,'k3':3}

for key,value in d.items():
    print(value)

1
2
3

In [231]:
d = {'k1':1,'k2':2,'k3':3}

for key,value in d.items():
    print(key)

k1
k2
k3

In [232]:
d = {'k1':1,'k2':2,'k3':3}

for value in d.values():
    print(value)

1
2
3

---

### While Loops

---

While loops will continue to execute a block of code **While** some condition remains True. 

For example - **while** my pool is not full, keep filling my pool with water.

In [233]:
x = 0 # placeholder

while x < 5:
    print(f'The current value of x is {x}')
    # x = x + 1
    x += 1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [234]:
x = 0 # placeholder

while x < 5:
    print(f'The current value of x is {x}')
    x += 1
    
else:
    print('X is not less than 5')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X is not less than 5

---

### break, continue, pass

---

We can use break, continue and pass statement in our loops to add additional functionality for various cases. 

- **break** - Breaks out of the current closest enclosing loop.
- **continue** - Goes to the top of the closest encloging loop.
- **pass** - Does nothing at all.

In [235]:
x = [1,2,3]

for item in x:
    # comment
    pass

print('end of my script')

end of my script

In [236]:
mystring = 'Sammy'

for letter in mystring:
    if letter == 'a': # this means if we do not want letter 'a' in my o/p, so it will goes to the top of the loop.
        continue
    print(letter)

S
m
m
y

In [237]:
mystring = 'Sammy'

for letter in mystring:
    if letter == 'a': # Similarly break is opposite, it will come out of loop the moment above cond get sucess.
        break
    print(letter)

S

In [238]:
x = 0
while x < 5:
    if x == 2:
        break
    print(x)
    x += 1

0
1

---

### Useful Operators

---

#### Range

---

In [239]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [240]:
# for num in range(start,stop,step)

In [241]:
for num in range(0,10,2): # not including 10, 
    print(num)

0
2
4
6
8

In [242]:
list (range(0,10,2)) # because range is generator.

[0, 2, 4, 6, 8]

#### Enumerate

---

To avoid below type of code **Enumerate** got introduction -

In [243]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1 # to avoid counter

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [244]:
index_count = 0
word = 'abcde'

for letter in word:
    
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [245]:
word = 'abcde'

for item in enumerate(word):
    print(item) # we get tuples, and doing index count as well.

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [246]:
# As we know - how we can do tuple unpacking, let apply this here

word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

#### Zip

---

its basically zip two list. Opposite of Enumerate.

In [247]:
mylist1 = [1,2,3,4]
mylist2 = ['a','b','c','d']

for item in zip(mylist1,mylist2): # this can grow but it has to be same in. terms of count list1(count) = list2(count)
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')

In [248]:
mylist1 = [1,2,3,4,5,6,7,8]
mylist2 = ['a','b','c','d']
mylist3 = [100,200,300] #smallest one will be picked up 

for item in zip(mylist1,mylist2,mylist3): # this can grow but it has to be same in. terms of count list1(count) = list2(count)
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

**Again we got Tuple and we know, about unpacking of Tuple**

In [254]:
mylist1 = [1,2,3,4]
mylist2 = ['a','b','c','d']

for a,b in zip(mylist1,mylist2):
#    print(a)
    print(b)
    print('\n')

a


b


c


d

In [252]:
# In above code we iterated but if we just want list - 
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

#### In

---

In [255]:
2 in [1,2,3]

True

In [256]:
'a' in 'a world'

True

In [257]:
'mykey' in {'mykey1':12345} # using in dict

False

In [258]:
d = {'mykey1':12345}

12345 in d.values()

True

In [259]:
d = {'mykey1':12345}

12345 in d.keys()

False

#### Min and Max

---

In [260]:
mylist = [1,2,3,4,5]

In [261]:
min(mylist)

1

In [262]:
max(mylist)

5

#### Random Library

---

In [263]:
from random import shuffle

In [268]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [269]:
shuffle(mylist) # Shuffle is - inplace - function.

In [270]:
mylist

[5, 4, 3, 1, 8, 6, 2, 7, 9, 10]

In [271]:
# grabbing a random function

from random import randint

In [277]:
randint(0,100)

37

In [279]:
randint(0,100) # because it is random, we cant store them.

6

#### Input Function (Accepting User Input)

---

In [280]:
input('Enter a number here: ')

Enter a number here: 50

'50'

In [281]:
result = input('Enter a number here: ')

Enter a number here: 50

In [282]:
result

'50'

In [283]:
type(result) # because input always give o/p as string so we need to change the type of the input

str

In [284]:
float(result)

50.0

In [285]:
int(result)

50

In [286]:
result = int(input('Enter a number here: '))

Enter a number here: 50

In [287]:
result

50

In [288]:
type(result)

int

---

### List Comprehensions 

---

If you find yourself using a for loop along with .append() to create a list, **List Comprehensions** are a good alternative.

In [297]:
# To avoide below type of program we use list comprehensions

mystring = 'hello'

mylist = [] # placeholder

for letter in mystring:
    mylist.append(letter)
    
print(mylist)

['h', 'e', 'l', 'l', 'o']

In [298]:
mylist = [letter for letter in mystring] # element for element in mystring

mylist

['h', 'e', 'l', 'l', 'o']

In [299]:
mylist = [x for x in 'word']

mylist

['w', 'o', 'r', 'd']

In [300]:
# the variable can be anything 

mylist = [asd for asd in 'wordo']
mylist

['w', 'o', 'r', 'd', 'o']

In [303]:
mylist = [num for num in range (0,11,2)]
mylist

[0, 2, 4, 6, 8, 10]

In [304]:
# Even we can perform some sort of operations also in this 

mylist = [num**2 for num in range (0,11,2)]
mylist

[0, 4, 16, 36, 64, 100]

In [306]:
# We can even add some conditions as well

mylist = [num for num in range(0,11) if num%2 == 0] # even number
mylist

[0, 2, 4, 6, 8, 10]

In [307]:
celcius = [0,10,20,34.5] 

fahrenheit = [((9/5)*temp + 32) for temp in celcius]

fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [310]:
# Lets break the above in for loop

celcius = [0,10,20,34.5] 

for temp in celcius:
    temp = (9/5)*temp + 32 # with the help append we can get below 
    print(temp)

[32.0]
[50.0]
[68.0]
[94.1]

In [316]:
# Lets break the above in for loop

fahrenheit = []

for temp in celcius:
    fahrenheit.append((9/5)*temp + 32)

print(fahrenheit)

[32.0, 50.0, 68.0, 94.1]

In [317]:
# if else 

result = [x if x%2 ==0 else 'ODD' for x in range(0,11)]
result

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [322]:
# nested loop 

mylist = []

for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)

mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [321]:
# nested loop in list compresensions

mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

---

### Methods and Functions

---

---

### Methods 

---

Lets start with Method. Built-in Objects in Python have a variety of methods you can use. 

Lets explorer how to find methods and how to get information about them.

In [1]:
mylist = [1,2,3]

In [2]:
mylist.append(4)

In [3]:
mylist

[1, 2, 3, 4]

In [5]:
mylist.pop()

4

In [6]:
mylist

[1, 2, 3]

---

### Functions 

---

Creating clean repeatable code is a key part of becoming an effective programmer. 

**Functions** allow us to create blocks of code that can be easiliy executed many times, without needing to constantly rewrite the entire block of code.

---

#### Basic Python Functions

---

In [9]:
def say_hello():
    print('hello')
    print('how')
    print('are')
    print('you')

In [11]:
say_hello() # function will be called only one time and will print all block of code inside of it.

hello
how
are
you

In [12]:
def say_hello(name):
    print(f'Hello {name}')

In [14]:
say_hello("mukund")

Hello mukund

In [15]:
def say_hello(jelly): # we can call any variable here
    print(f'Hello {jelly}')

In [16]:
say_hello('mukund')

Hello mukund

In [19]:
def say_hello(name = 'Default'):
    print(f'Hello {name}')
say_hello('Mukund')

Hello Mukund

In [1]:
def say_hello(name = 'Default'):
    print(f'Hello {name}')
say_hello() # in case no value provided.

Hello Default

**Return** Keyword

In [4]:
def add_num(num1,num2):
    return num1+num2 # difference between return and print is - in return we can use variable. 
result = add_num(20,30)

In [5]:
result # this happened because i have used return

50

**Lets see this with again one more example**

In [13]:
def print_result(a,b):
    print(a+b)

In [15]:
print_result(10,20)

30

In [16]:
# Now we can not assignt the print_result into any variable because you see in above result thre is no OUT sign

result = print_result(10,20)

30

In [17]:
result # now when we will call the variable it will give no result because if you see the type its NONE

In [18]:
type(result)

NoneType

In [19]:
# Now lets see with Return 

def return_result(a,b):
    return a + b

In [20]:
return_result(10,20) # out is showing its not printed it gave o/p.

30

In [21]:
result1 = return_result(10,20)

In [22]:
# Now if you see here it gave us o/p,so it is clear now, if we use print statement, we will not be able to use variable
result1

30

In [23]:
type(result1)

int

**Note**- Giving the above difference this doesnt mean that we cant use **Return** and **Print** together, lets see the below example for your reference -

In [24]:
def myfunc(a,b):
    print(a+b)
    return a + b

In [25]:
result = myfunc(10,20)

30

In [26]:
result

30

**Disclaimer** - Again the above pattern is not too common to use it but we can use to while doing any debugging or something.

Since Python is dynamic type not static type, there is one mistake which happens and tip is before calling function its good to know its type, so that we can pass the variable, lets see below example what i mean to say -

In [27]:
def sum_number(num1,num2):
    return num1+num2

In [29]:
sum_number(40,50)

90

Now, since we have not defined what type data it will hold, it can lead us to problem.

In [30]:
sum_number('40','50')

'4050'

In [31]:
type(sum_number)

function

---

#### Function with Logic

---

We are lready aware of some logic like if statement, for loop, while loop and manymore.

In [32]:
#Remember - (Mod Operator)

2%2

0

In [33]:
3%2

1

In [34]:
41%40

1

In [35]:
20%2 # even - should be equal to 0

0

In [36]:
20%2 == 0

True

In [37]:
21%2 == 0

False

**Lets create or use it in Function**

In [38]:
def even_check(number):
    result = number % 2 == 0
    return result

In [41]:
even_check(20) # Because we have used return and number is Even so it returns true

True

In [42]:
even_check(21)

False

In [43]:
# Now, as we move forward we can make our code small like this - 

def even_chec(number):
    return number % 2 == 0

In [44]:
even_chec(20) # It is doing the same thing.

True

In [45]:
even_chec(21)

False

**Lets try to play with LIST**

In [46]:
# RETURN TRUE IF ANY NUMBER IS EVEN INSIDE A LIST ELSE NOT RETURN ANYTHING

In [51]:
def check_even_list(num_list):
    for num in num_list:
        if num % 2 == 0:
            return True # once return called its break the function
        else:
            pass    # this is the example of passing from any error or if we do not want to print anything

In [49]:
check_even_list([1,2,3,4])

True

In [50]:
check_even_list([1,3,5]) # Since there is no even number it didnt return anything.

Lets add logic for **ODD** number as well to return **False**

In [52]:
def check_even_list(num_list):
    for num in num_list:
        if num % 2 == 0:
            return True # once return called its break the function
        else:
            pass    
#            return False 

# This is very common mistake happen because we need to look for logic for positining the other return function. 
# Because if we will use the above position of return, it will only return False even we will have one even numbr
# in our list because it will pass the first return the give o/p of last return. 
# Below we have kept return out ouf if/else because if is not true it will be false always. 

    return False

In [53]:
check_even_list([1,2,5])

True

Lets make the above function more complex and instead of just returning True or False, lets return the actual **Even** or **ODD** number.

In [54]:
# RETURN ALL THE EVEN NUMBER IN A LIST ELSE BLANK LIST

def check_even_list(num_list):
    
    # Since we will be creating a new list, we need to have some placeholder to store the new list
    # Placeholder Variable
    
    even_number = []
    for num in num_list:
        if num % 2 == 0:
            even_number.append(num) # Here we are creating our new list with only even number
        else:
            pass    
    return even_number

In [55]:
check_even_list([1,2,4,5])

[2, 4]

In [56]:
check_even_list([1,3,5,7]) # Since there is no even number it is returning blank list.

[]

**Note** - Keep in mind, whenever a new list or new output is supposed to come, we need to start our code by defining a placeholder, where it can store the newly created list or tuple or anything and do not forget to append that blank placeholder and you need to append it with number or char or anything on which you are iterating.

---

#### Function and Tuple Unpacking

---

Here we are discussing Functions and returning multiple item from function with **Tuple Unpacking**.

In [57]:
# List of Tuple

stock_prices = [('APPL',200),('GOOG',400),('MSFT',100)]

for item in stock_prices:
    print(item)

('APPL', 200)
('GOOG', 400)
('MSFT', 100)

The above code prints out the tuple. One more thing which we can do is **Tuple Unpacking** i.e. We can grab these individual items as well.

In [61]:
for tricker,price in stock_prices:
    print(tricker)
    print()
    print(price)
    print()
    print(price + (0.1*price))
    print()

APPL

200

220.0

GOOG

400

440.0

MSFT

100

110.0

**We can also do the above logic with Function as well**

First conver the Tuple Unpacking one more time.

In [63]:
work_hours = [('Belly',100),('John',200),('Mohan',400)]

# Lets do the tuple unpacking. 

for employee,hours in work_hours:
    print(employee)
    print()
    print(hours)
    print()

Belly

100

John

200

Mohan

400

**Lets Create Employee of the month program based on the number of hours employee worked**

In [62]:
# Basically here we are trying to create a function to check who has done most work hour work and we are going 
# to Assign him as employee of the month. Below List of Tuple of three employees with their work hours. 

work_hours = [('Belly',100),('John',200),('Mohan',400)]

In [64]:
def employee_check(work_hours):
    
    # We need to have place holder for current_max and employee of month which will be adding the data. 
    
    current_max = 0  # Because it is a int value so it starts with default 0
    ecmployee_of_month = ''  # Because it is a string value, so it will start with empty list. 
    
    # Lets do the Tuple unpacking.
    
    for employee,hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
        
    return(employee_of_month,current_max)

In [65]:
employee_check(work_hours)

('Mohan', 400)

In [67]:
work_hours = [('Belly',100),('John',4000),('Mohan',400)]

employee_check(work_hours)

('John', 4000)

In [68]:
work_hours = [('Belly',10000),('John',4000),('Mohan',400)]

employee_check(work_hours)

('Belly', 10000)

**Now we can see the result as in Tuple Unpacking**

In [69]:
result = employee_check(work_hours)

In [70]:
result

('Belly', 10000)

In [71]:
name,hours = employee_check(work_hours)

In [72]:
name

'Belly'

In [73]:
hours

10000

One common mistake its happen when we use someone else function for tuple unpacking, so we dont know whether it has (**name,hours**) only or it has (**name,hours,location**) as well.

In [75]:
name,hours,location = employee_check(work_hours) # But there is nothing in function for location

# This is why we will get issue/error - We expected 3 and it has only two to pass.

ValueError: not enough values to unpack (expected 3, got 2)

In [77]:
# To solve such issue we can do like, assign one single variable to function call - 

item = employee_check(work_hours)

In [79]:
item # Here we can see, what two values, function is taking, so this can be a trobleshooting part.

('Belly', 10000)

---

#### Interactions Between Functions

---

Typically a python script or notebook contains several functions interacting with each other. 

Lets create a few functions to mimic the carnival guessing game "Three Cup Monte".

**Before moving ahead lets see how to shufle a list at random in Python**

In [27]:
example = [1,2,3,4,5]

In [28]:
from random import shuffle

In [29]:
shuffle(example)

In [30]:
example

[2, 5, 1, 4, 3]

**Now lets create our Simple Game**

In [86]:
# Lets create a function

def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [91]:
# Lets try to store it in variable because we have used return we can do this - 

result = shuffle_list(example) # calling the function and assigning it in variable

In [92]:
result

[3, 2, 1, 5, 4]

In [93]:
# Now lets decide what type of my game list is going to be - 

mylist = ['','O',''] # it will have a capital O in between.

In [95]:
shuffle_list(mylist)

['', '', 'O']

In [96]:
# Next we need to create a function which can take in a player guess. So the player is going to guess the location
# after player guess. 

def player_guess():
    guess = ''  # user can guess the index position.Placeholder
    
    # To check the input is correct we need to use while loop. 
    
    
    while guess not in ['0','1','2']: 
        guess = input('Pick a number: 0,1 or 2')
        
    return int(guess)

# Now if you see above guess is int but while is string because by default input function takes a string now INT.

In [97]:
player_guess()

Pick a number: 0,1 or 23
Pick a number: 0,1 or 22

2

In [98]:
myindex = player_guess()

Pick a number: 0,1 or 22

In [99]:
myindex

2

Now we need one more **function**, which is essentially to combine with-

- 1. List which is shuffuled (mylist)
- 2. With Player Guess (player_guess)

Because i need to check whether my guess was correct or not.

In [114]:
# This is where function will interact with each other because i will pass in my shuffled list and pass in user guess- 

def check_guess(mylist,guess):
    if mylist[guess] == 'O': # This means that mylist at myguess index position is equal to captial O. 
        print('Correct Guess!')
        
    else:
        print('Wrong! Better luck next time')
        print(mylist)
        
# Since this will be the last function, so we donot need to return anything.

In [119]:
# INITIAL LIST

mylist = ['', 'O', '']

# SHUFFLE LIST 

mixedup_list =shuffle_list(mylist)

# USER GUESS

guess = player_guess()

# CHECK GUESS

check_guess(mixedup_list,guess) # Here functions is getting interacting with each other.

Pick a number: 0,1 or 21
Correct Guess!

**Functions Excercise**

In [10]:
def myfunc(name):
    print('Hello {}'.format(name))

myfunc('Test')  # We run the function from this.

Hello Test

**Only** Define not **Run** the function called **myfunc** that takes a Boolean value (True or False). If True, return 'Hello', and if False, return 'Goodbye'.

In [19]:
def myfunc(a):  # --> this is defining.
    if a == True:
        return 'Hello'          # -->this is condition.
    elif a == False:
        return 'Goodbye'
# myfunc('a') -->this is running.

Define a Function called **myfunc** that takes three arguments, x,y and z. 

- If Z is True, return X. If z is false return Y.

In [20]:
def myfunc(x,y,z):
    if z == True:
        return x
    else:
        return y

Define a function called **myfunc** that takes two arguments and returns their sum.

In [21]:
def myfunc(x,y):
    return x + y

myfunc(9,2) # running the func.

11

Define a function called **is_even** that takes in one argument, and returns **True** if the passed-in value is even, **False** if it is not.

In [23]:
def is_even(n):
    if n % 3 == 0:
        return True
    else:
        return False
is_even(6)

True

In [24]:
is_even(7)

False

Define a function called **is_greater** that takes in two arguments, and return **True** if the first value is greater than the second, **False** if it is less than or equal to the second.

In [25]:
def is_greater(a,b):
    if a > b:
        return True
    else:
        return False

is_greater(5,5)

False

---

#### *args (arguments) and **kwargs (keyword arguments)

---

Arbitrary number of argument.

In [31]:
def myfunc(a,b):
    # Returns 5% of the sum of a and b
    return sum((a,b)) * 0.05

In [32]:
myfunc(40,60) # 5% of 100 is 5.

5.0

This function returns 5% of the sum of **a** and **b**. In this example, **a** and **b** are *positional* arguments; that is, 40 is assigned to **a** because it is the first argument, and 60 to **b**. Notice also that to work with multiple positional arguments in the `sum()` function we had to pass them in as a tuple.

What if we want to work with more than two numbers? One way would be to assign a *lot* of parameters, and give each one a default value.

In [33]:
def myfunc(a=0,b=0,c=0,d=0,e=0):
    return sum((a,b,c,d,e))*.05

myfunc(40,60,20)

6.0

Obviously this is not a very efficient solution, and that's where `*args` comes in.

#### `*args`

When a function parameter starts with an asterisk, it allows for an *arbitrary number* of arguments, and the function takes them in as a tuple of values. Rewriting the above function:

In [34]:
def myfunc(*args):
    return sum(args)*.05

myfunc(40,60,20)

6.0

Notice how passing the keyword "args" into the `sum()` function did the same thing as a tuple of arguments.

It is worth noting that the word "args" is itself arbitrary - any word will do so long as it's preceded by an asterisk. To demonstrate this:

In [35]:
def myfunc(*spam):
    return sum(spam)*.05

myfunc(40,60,20)

6.0

#### `**kwargs`

Similarly, Python offers a way to handle arbitrary numbers of *keyworded* arguments. Instead of creating a tuple of values, `**kwargs` builds a dictionary of key/value pairs. For example:

In [37]:
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print(f"My favorite fruit is {kwargs['fruit']}")  
        # review String Formatting and f-strings if this syntax is unfamiliar
    else:
        print("I don't like fruit")
        
myfunc(fruit='pineapple')

My favorite fruit is pineapple

In [38]:
myfunc()

I don't like fruit

#### `*args` and `**kwargs` combined

You can pass `*args` and `**kwargs` into the same function, but `*args` have to appear before `**kwargs`

In [39]:
def myfunc(*args, **kwargs):
    if 'fruit' and 'juice' in kwargs:
        print(f"I like {' and '.join(args)} and my favorite fruit is {kwargs['fruit']}")
        print(f"May I have some {kwargs['juice']} juice?")
    else:
        pass
        
myfunc('eggs','spam',fruit='cherries',juice='orange')

I like eggs and spam and my favorite fruit is cherries
May I have some orange juice?

**Placing keyworded arguments ahead of positional arguments raises an exception:**

In [41]:
myfunc(fruit='cherries',juice='orange','eggs','spam')

SyntaxError: positional argument follows keyword argument (<ipython-input-41-fc6ff65addcc>, line 1)

In [50]:
def myfunc(*args, **kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[0],kwargs['food']))
    print('I would like {} {}'.format(args[2],kwargs['animal']))

In [51]:
myfunc(10,20,30,fruit='orange',food='egg',animal='dog')

(10, 20, 30)
{'fruit': 'orange', 'food': 'egg', 'animal': 'dog'}
I would like 10 egg
I would like 30 dog

As with "args", you can use any name you'd like for keyworded arguments - "kwargs" is just a popular convention.

That's it! Now you should understand how `*args` and `**kwargs` provide the flexibilty to work with arbitrary numbers of arguments!

**Excercise**

Define a function called **myfunc** that takes in an arbitrary number of arguments, and return the **sum** of those arguments.